/* Estilo de la caja */
.caja {
  background-color: red;
  width: 75px;
  height: 75px;
}

/* Traslación */
/* .caja {
transform: translate(50px, 50px);
} */

/* Escalado */
/* .caja {
  transform: scale(2, 2);
} */

/* Rotacion */
/* .caja {
  transform: rotate(40deg);
} */

/* Deformacion */
/* .caja {
  transform: skew(10deg, 5deg);
} */

/* Varias transformaciones a la vez */
/* .caja {
  transform: rotate(30deg) skew(10deg, 5deg);
} */
